h1{
  text-align: center;
  display: inline-block;
}

#photo{
  width: 250px;
  height: 300px;
  position: relative;
  left: 30px;
  border-radius: 5px;
}

#balidan{
  width: 100px;
  position: relative;
  bottom: 85px;
  right: 5px;
}

.body{
  background-color: lightgray;
}

.Heading{
  weight: 100%;
  text-align: center;
}

.first-name{
  color: orange;
}
.middle-name{
  color: white;
}

.last-name{
  color: green;
}

.quote{
  position: relative;
  top: 10px;
  color: green;
  font-size: 18px;
}

.life{
  font-size: 20px;
  color: blue;
}
#life1{
  position: relative;
  left: 15px;
}
.linear {
  border-radius: 20px;
  width: 96%;
  padding: 10px 20px;
  height: auto;
  margin: 50px auto;
  background: linear-gradient(90deg, #CCFFFF,  #FFCCCC);
}

.timeline {
  display: block;
  width: 100%:
  height: auto;
}

.timeline li {
  margin: 20px 0;
  line-height: 23px;
  font-family: Roboto;
}

  /*This is for mobile version*/
  @media all and (min-width: 200px) and (max-width: 800px){
    .linear {
      border-radius: 15px;
      width: 90%;
      height: auto;
      margin: 30px auto;
    }
    #photo{
      width: 18%;
      height: 80px;
      position: relative;
      left: 10px;
      padding: 0px;
      margin: 0px;
    }

   #balidan{
     width: 30px;
     position: relative;
     bottom: 55px;
     right: 5px;
   }
    h1{
      font-size: 20px;
    }

    h2{
      font-size: 15px;
    }

    .trophy{
      font-size: 14px;
    }

    .life{
      font-size: 12px;
    }

    .timeline{
      font-size: 10px;
    }

    .quote{
      font-size: 12px;
    }

    .quotename{
      font-size: 10px;
    }

    .award2{
      position: relative;
      top: 5px;
    }
    .award3{
      position: relative;
      top: 10px;
    }
     .award4{
       position: relative;
       top: 15px;
     }
  }
